<div class="card mt-4" style="width: 600px;">
    <div class="card-header">
    {{ post.date_pub }}
    </div>
    <div class="card-body">
    <h5 class="card-title"><b>{{ post.title|title }}</b></h5>
    <p class="card-text">{{ post.body }}</p>
    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Перейти к посту</a>
    <a href="{{ post.get_update_url }}" class="btn btn-outline-warning">Редактировать</a>
    <a href="{{ post.get_delete_url }}" class="btn btn-outline-danger">Удалить</a>
    </div>
    <div class="card-footer text-muted">
        Тэги:
        {% for tag in post.tag.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
</div>