{% extends 'base.html' %}
{% block nav %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block admin-panel %}
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Создать пост
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'post_create' %}">Пост</a>
        <a class="dropdown-item" href="{% url 'tag_create' %}">Тег</a>
        </div>
    </div>

    <a href="{{ admin_object.get_update_url }}" class="btn btn-light edit" style="{% if detail %} display: block; {% endif %}">Редактировать</a>
    <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger delete" style="{% if detail %} display: block; {% endif %}">Удалить</a>
{% endblock %}